header {
  color: map-get($colors, blue);
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Metrophobic", sans-serif;
  align-items: center;
  position: fixed;
  z-index: 9;

  h1 {
    margin-bottom: 0px;
    font-family: "Metrophobic", sans-serif;
    max-width: 100px;
    @include breakpoint(s) {
      max-width: unset;
    }
  }

  a {
    text-decoration: none;
  }
  padding: 3% 5%;
  @include breakpoint(s) {
    padding: 4% 6%;
  }
  @include breakpoint(m) {
    padding: 6% 7%;
  }
  @include breakpoint(l) {
    padding: 3% 8%;
  }

  img {
    width: 80px;
    margin-bottom: 0px;
  }
}

.coll {
  position: relative;
  margin-top: -1px;
  &:hover > .colld {
    display: block;
  }
}

.colld {
  position: absolute;
  width: 300px;
  display: none;
  &:hover {
    display: block;
  }
}

.navs {
  display: flex;
  a {
    color: map-get($colors, blue);
    text-decoration: none;
    margin-left: 10px;
    @include breakpoint(s) {
      margin-left: 25px;
    }
    font-family: "Metrophobic", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }
}
