.logo {
  text-align: center;
  margin-top: 15%;
  img {
    position: fixed;
  }
}

.pic {
  width: 45%;
  position: relative;

  @include breakpoint(s) {
    width: 35%;
  }
  @include breakpoint(xl) {
    width: 25%;
  }

  @include breakpoint(xxl) {
    width: 20%;
  }

  &:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-out;
    z-index: 3;
  }
}

.photos-global {
  overflow-y: scroll;
  margin: 30px 0px 80px 0px;
  @include breakpoint(m) {
    margin-top: -60px;
  }
}

.photos {
  display: flex;
  padding: 10%;
  @include breakpoint(s) {
    padding: 5%;
  }
  @include breakpoint(m) {
    padding: 0%;
  }
}

.picture {
  height: 400px;
  margin: 40px;
  object-fit: cover;
  @include breakpoint(s) {
    margin: 60px;
  }
  @include breakpoint(l) {
    margin: 80px;
    height: 500px;
  }
  &:hover {
    cursor: pointer;
  }
}

.text {
  font-family: "Metrophobic", sans-serif;
  width: 100%;
  margin-bottom: 120px;
  @include breakpoint(xxl) {
    width: 80%;
  }

  p {
    color: rgb(65, 65, 65);
    font-family: Work Sans;
    font-weight: 200;
    font-size: 0.9rem;
    text-align: justify;
  }
}

.part1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.video {
  text-align: center;

  padding-top: 20%;
  @include breakpoint(s) {
    padding-top: 10%;
  }
  @include breakpoint(m) {
    padding-top: 1%;
  }
}

video {
  width: 100%;
  margin-bottom: 70px;
  @include breakpoint(s) {
    width: 100%;
  }
  @include breakpoint(xl) {
    width: 80%;
  }
}

.pres {
  font-family: "Metrophobic", sans-serif;
  width: 100%;

  text-align: center;
  margin: 60px auto;
  color: map-get($colors, blue);
  p {
    color: rgb(65, 65, 65);
    font-weight: 300;
    font-size: 0.9rem;
    text-align: justify;
    font-family: Work Sans;
  }
}

.top {
  display: flex;
  justify-content: space-between;
}

.popup {
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  img {
    max-height: 80%;
    max-width: 80%;
  }
}

.socials {
  a {
    margin: 7px;
  }
}
